// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --btm-block-margin: 4em;
}
body {
    background-color:black;
    color:#DFDFDF;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    width: 6.27in;

    .header {
        text-align: center;
        margin-bottom: var(--btm-block-margin);
        
        .main-header {
            font-size: x-large;
            letter-spacing: .13em;
            margin-bottom: .2em;
        }
        .sub-header {
            font-style: italic;
            font-size: small;
        }
    }

    p {
        text-align: justify;
        line-height: 1.7;
        margin-bottom: var(--btm-block-margin);
        // background-color: rosybrown;
    }
    
    .emph-block {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 0px;
        margin-top: 0px;

    }
    .btm-hr {
        margin-bottom: var(--btm-block-margin);
    }

    // header
    h1 {
        font-size: 1.3em;
        margin-bottom: -.5em;
    }
    mark {
        background-color: #CC0000;
        font-weight: bolder;
    }
    ol {
        margin-bottom: 1em;
        line-height: 1.7;
    }

    a {
        color: #DFDFDF;
        // text-decoration: none;
    }

    .default-svg {
        vertical-align:middle;
        margin:0px 0px var(--btm-block-margin) 0px;
    }
    
    .default-gif {
        vertical-align:middle;
        margin:0px 0px var(--btm-block-margin) 0px;
    }

    .column {
        float: left;
        width: 49%;
        text-align: center;
      }
    .column-spacer {
        float: middle;
        width: 2%;
        background-color: #CC0000;
      }
      
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    
}
iframe {
    display: block;
    margin: 0 auto;
}

